.sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px; 
    height: 100%;
    background-color: #ffffff7c;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
  }
  
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffffff8d;
    transition: left 0.3s ease;
    padding: 20px;
}

.sidebar.visible {
    left: 0;
}

.menu-title {
    font-size: 15px;
    margin-top:30px;
    color: #333;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    gap: 20px;
}

.menu-links {
    font-size: 19px;
    margin-top:30px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.menu-link {
    color: #333;
    margin-bottom: 300px;
    text-decoration: none;
    margin-bottom: 15px;
}

.menu-link:hover {
    color: #666;
}